* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: white;
  height: 100vh;
}

#header {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #800080;
  border-radius: 3px;
}

#bodyleft {
  width: 17%;
  height: 100%;
  margin: 0px 20px 0px 0px;
  float: left;
  background-color: rgba(159, 159, 159, 0.7);
  box-shadow: #444 0px 1px 5px;
}

#bodyleft ul {
  list-style-type: none;
  height: 100%;
  margin-top: 30px;
}

#bodyleft ul li {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
}

#bodyleft ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #444;
}
#blText {
  padding: 5px;
}
#bodyleft ul li:hover {
  background: #fefefe;
  transition: ease-in-out 0.5s;
}
#bodyleft ul a {
  text-decoration: none;
  padding-left: 2%;
}

#bodyright {
  overflow-x: scroll;
  width: 80%;
  height: 95vh;
  float: left;
  padding-top: 10px;
}

.above1 {
  background: #eee;
  border-radius: 4px;
  box-shadow: #999 3px 3px 10px;
  padding: 15px;
  margin-bottom: 5px;
  width: 95%;
}

.below1 {
  background: #eee;
  box-shadow: #999 3px 3px 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  width: 95%;
}
#bodyright h3 {
  text-align: left;
  border-radius: 3px;
  color: #444;
  padding-top: 10px;
  height: 30px;
}

#bodyright form table {
  width: 95%;
  margin-top: 10px;
}

#bodyright form table tr td {
  padding-left: 3%;
  width: 50%;
  text-align: left;
  height: 35px;
  color: #444;
}

#bodyright form table tr th {
  padding: 0% 2% 0% 2%;
  box-sizing: border-box;
  color: #444;
  text-align: left;
  height: 30px;
  font-size: 16px;
}

#bodyright form table tr td input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #444;
  text-align: left;
  padding-left: 10px;
  outline: none;
}

#bodyright form table tr td select {
  padding-left: 2%;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #fff;
  text-align: left;
}

#bodyright form table tr td a {
  text-decoration: none;
  color: #444;
}

#bodyright form button {
  margin-top: 10px;
  height: 30px;
  background-color: rgb(150, 218, 150);
  border-radius: 3px;
  border: none;
  width: 200px;
  margin-left: 370px;
}

#bodyright form button:hover {
  background: rgb(86, 124, 86);
}

#categoryBtn {
  background-color: #000;
}
#input {
  width: 80%;
}
.scroll {
  overflow-x: scroll;
}

.scroll form table tr th {
  text-align: center !important;
  padding: 0% !important;
  background: #eee !important;
  font-size: 16px !important;
}

.scroll form table tr td {
  padding-left: 2% !important;
  min-width: 150px;
  height: 35px;
  text-align: center !important;
}

.scroll form table tr td img {
  height: 30px;
  width: 30px;
}
.headerText {
  padding-left: 10px;
  padding-top: 10px;
}
.navicons {
  width: 20px;
  height: 15px;
  margin-left: 3%;
}
.navicons1 {
  width: 20px;
  height: 20px;
  margin-left: 3%;
}
#addProduct {
  margin-bottom: 30px;
}
#hehe {
  border: none;
}
